TURN_DOMAIN=turn.example.com
TURN_REALM=turn.example.com
TURN_USERNAME=enkamba
TURN_PASSWORD=change-me-now
TURN_EXTERNAL_IP=PUBLIC_SERVER_IP
TURN_MIN_PORT=49152
TURN_MAX_PORT=65535
TURN_CERT_PATH=/etc/coturn/certs/fullchain.pem
TURN_KEY_PATH=/etc/coturn/certs/privkey.pem
TURN_ENABLE_TLS=false

